:root {
  --text-color: black;
  --transparent: rgba(0, 0, 0 ,0);
  --light-history-select: var(--pf-global--palette--black-300);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Make nav from subnav*/
#history-nav-list{
  --pf-c-nav__subnav--PaddingLeft: 0;
}

/*Full screen*/
.pf-c-page__sidebar {
  min-height: calc(100vh - var(--pf-c-page__header--MinHeight));
}

/* Dark/Light theme */
html[data-theme="dark"] {
  --text-color: white;
}

html[data-theme="dark"] > body {
  background-color: var(--pf-global--BackgroundColor--dark-300);
  color: var(--text-color);
}

html[data-theme="dark"] .pf-c-page__main-section {
  background-color: var(--pf-global--BackgroundColor--dark-300);
}

html[data-theme="dark"] .pf-c-form__helper-text{
  color: var(--text-color);
}

html[data-theme="dark"] .pf-c-check__label {
  color: var(--text-color);
}

html[data-theme="dark"] #result-window {
  background-color: var(--pf-global--BackgroundColor--dark-400);
}

html[data-theme="dark"] .pf-c-page__sidebar {
  border-right: var(--pf-global--BackgroundColor--dark-100) solid 1px;
  border-bottom: var(--pf-global--BackgroundColor--dark-100) solid 1px;;
}

html[data-theme="light"] > body {
  background-color: var(--pf-global--BackgroundColor--100);
}

html[data-theme="light"] .pf-c-page__main-section {
  background-color: var(--pf-global--BackgroundColor--100);
}

html[data-theme="light"] .pf-c-page__main-section {
  background-color: var(--pf-global--BackgroundColor--100);
}

html[data-theme="light"] .pf-c-nav__link.pf-m-current {
  background-color: var(--light-history-select);
}

html[data-theme="light"] .pf-c-nav__link:hover {
  background-color: var(--light-history-select);
}


/*Add bottom margin to divider in Admin page*/
#AdminSpacer{
  margin-bottom: 3em;
}

/*Add title bottom margin to divider in Admin page*/
#AdminTitle {
  margin-bottom: 1em;
}

/*Make admin delete button dangerous.*/
#admin-delete-button {
  background-color: var(--transparent);
  --pf-c-button--after--BorderColor: var(--transparent) var(--transparent) var(--pf-c-button--m-control--after--BorderBottomColor) var(--transparent);
}
#admin-delete-button:hover {
  background-color: var(--transparent);
  --pf-c-button--after--BorderColor: var(--transparent) var(--transparent) var(--pf-c-button--m-control--after--BorderBottomColor) var(--transparent);
  color: var(--pf-global--danger-color--100);
}

/*Add left margin to label*/
#DashboardLabel {
  margin-left: 2px;
}

/*Fix BackToTop position while scrolling*/
#BackToTopButton {
  position: fixed;
}

/*Result action buttons. Remove background and left, top, right border*/
#result-action-buttons {
  background-color: var(--transparent);
  --pf-c-button--after--BorderColor: var(--transparent) var(--transparent) var(--pf-c-button--m-control--after--BorderBottomColor) var(--transparent);
}

/*Remove background from history toolbar, shrink padding*/
#history-toolbar {
  background-color: var(--transparent);
  padding-top: 0;
}

/*Shrink history item padding*/
#history-item {
  padding-left: 1em;
  padding-right: 0.5em;
}

/*Make history delete button black or red when hover. Remove padding*/
#history-delete-button {
  color: var(--pf-global--Color--100);
  padding: 0;
}
#history-delete-button:hover {
  color: var(--pf-global--danger-color--100);
}

/*Make delete button dangerous on hover*/
#history-toolbar-delete-button:hover {
  color: var(--pf-global--danger-color--100);
  --pf-c-button--after--BorderColor: var(--pf-global--danger-color--100);
}

/*Make history header --text-color*/
#history-header {
  color: var(--text-color);
}

/*Make history item header monospace and --text-color*/
#history-item-header{
  font-family: monospace;
  color: var(--text-color);
}
/*Make history item always white and left aligned*/
#history-tooltip {
  color: white;
  text-align: left;
}

/*Make option items monospace*/
#option-items{
  font-family: monospace;
}
/*Make admin tab headers --text-color after selected*/
.pf-c-tabs__item.pf-m-current #admin-header {
  color: var(--text-color);
}

/*Make text with this ID always black.*/
#always-black {
  color: black;
}

